<article class="news_article">

  <h2>
    <a href="{{ url }}" rel="bookmark">{{ label }}</a>
  </h2>

  <div class="news_article_content">
    {{ content.field_featured_image }}
    {{ content.field_paragraphs }}
  </div>

</article>