{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}

<div {{ attributes.addClass(classes, "image_with_text") }}>
    <div class="top">
        {{ content.field_media_image }}
    </div>

    <div class="bottom">
        {{ content|without("field_media_image") }}
    </div>
</div>