{{ attach_library('bailey/global') }}

<div class="image_with_text">
    <div class="top">
        {{ content.field_media_image }}
    </div>

    <div class="bottom">
        {{ content|without("field_media_image") }}
    </div>
</div>