* {
    color: rgb(216, 216, 216);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(46, 46, 46);
    height: 100vh;
}

img {
    width: 5em;
    height: 5em;
    object-fit: cover;
}

.view-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

/* Image with text */
.image_with_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 1rem;
    width: 90%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;

    margin-top: 2em;
    margin-bottom: 2em;
}

.paragraph--view-mode--image-align-top {
    flex-direction: column;
}

.paragraph--view-mode--image-align-bottom {
    flex-direction: column-reverse;
}

.paragraph--theme--light {
    background-color: white;
    padding-top: 1rem;
    width: 90%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.paragraph--theme--light p {
    color: black;
}

.paragraph--theme--light .field__item {
    color: black;
}

.paragraph--theme--dark {
    background-color: black;
    padding-top: 1rem;
    width: 90%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.paragraph--theme--dark p {
    color: white;
}

.paragraph--theme--dark .field__item {
    color: white;
}

.paragraph--theme--primary {
    background-color: yellow;
    padding-top: 1rem;
    width: 90%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.paragraph--theme--primary p {
    color: black;
}

.paragraph--theme--primary .field__item {
    color: black;
}

.paragraph--theme--secondary {
    background-color: black;
    padding-top: 1rem;
    width: 90%;
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.paragraph--theme--secondary p {
    color: white;
}

.paragraph--theme--secondary .field__item {
    color: yellow;
}

.paragraph--border--top {
    border-top: solid yellow 2px;
}

.paragraph--border--bottom {
    border-bottom: solid yellow 2px;
}

.paragraph--border--top-bottom {
    border-bottom: solid yellow 2px;
    border-top: solid yellow 2px;
}

.top img {
    width: 26em;
    height: 20em;
}

.bottom p {
    width:  26em;
}

@media (min-width: 1000px) {
    .image_with_text {
        gap: 4em;
    }

    .paragraph--view-mode--image-align-left {
        flex-direction: row;
    }

    .paragraph--view-mode--image-align-right {
        flex-direction: row-reverse;
    }

    .paragraph--view-mode--image-align-top {
        flex-direction: column;
    }

    .paragraph--view-mode--image-align-bottom {
        flex-direction: column-reverse;
    }
}

/* background image with text */
.bg_text {
    display: inline-block;
    background-repeat: no-repeat;
    width: 100%;
    height: 30em;
    background-position: center center;
    background-size: cover;
}

.bg_text div {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.bg_text p {
    color: rgb(212, 210, 39);
    font-weight: bold;
    font-size: 1.6em;
    text-align: center;

    width: 70%;
    max-width: 40em;
}

.bg--text--content-align-left p {
    text-align: left;
}

.bg--text--content-align-right p {
    text-align: right;
}

.bg--text--theme--transparent div {
    background-color: transparent;
}

.bg--text--theme--primary div {
    background-color: transparent;
}

.bg--text--theme--primary p {
    color: black;
}

.bg--text--theme--primary div {
    background-color: rgba(255, 255, 0, 0.205);
}

.bg--text--theme--secondary div {
    background-color: rgba(255, 255, 255, 0.281);
}

.bg--text--theme--secondary p {
    color: black;
}

.bg--text--theme--light p {
    color: white;
}

.bg--text--border--top {
    border-top: yellow 2px solid;
}

.bg--text--border--bottom {
    border-bottom: yellow 2px solid;
}

.bg--text--border--top-bottom {
    border-top: yellow 2px solid;
    border-bottom: yellow 2px solid;
}

@media (min-width: 700px) {
    .bg_text p {
        font-size: 2em;
        max-width: 25em;
    }
}

/* new articles */
.news-article {
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 400px;
    height: 420px;
    margin-top: 4rem;

    border-radius: 10px;
}

.news-article h2 {
    text-align: center;
}

.news-article .node__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.field--name-field-featured-image {
    width: 100%;
    height: 10rem;
}

.field--name-field-featured-image img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

.category-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3rem;

    width: 100%;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #2E2E2E;
}

.category-wrapper .field-category {
    color: white;
}

.news-article * {
    color: #2E2E2E;
}

.news-article-p {
    margin-left: 1rem;
    margin-right: 1rem;
}

.news-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    margin-bottom: 4rem;
}

@media (min-width: 1000px) {
    .news-wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .news-wrapper .view-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        flex-wrap: wrap;
    }

    .news-article {
        margin-top: 0;
        margin-bottom: 0;
    }
}

/* Top navigatin */

nav h2 {
    display: none;
}

.ul-menu {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4rem;
    
    padding-left: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    margin: 0;

    font-size: 1.3rem;

    background-color: black;

    position: fixed;
    top: 79px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 9;
}

.ul-menu .menu-item {
    display: inline;
}

.menu-item a {
    text-decoration: none;
}

.menu-item a:hover {
    color: yellow;
    transition: .3s linear;
}

.menu-item--active-trail a {
    color: yellow;
    text-decoration: underline;
}

.menu-item:last-child a{
    margin-right: 4rem;
}

.toolbar-menu *{
    z-index: 99;
}

@media (max-width: 700px) {
    .ul-menu .menu-item {
        margin-right: 4rem;
        display: none;
    }

    .ul-menu {
        align-items: flex-end;
        flex-direction: column;
        justify-content: flex-start;
    }

    .hamburger-menu {
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        margin-right: 4rem;

        cursor: pointer;
        z-index: 20;
    }

    .menu-item:last-child a{
        margin-right: 0;
    }

    .hamburger-stripe {
        width: 100%;
        height: 4px;
        background-color: yellow;
        transition: 1s linear;
    }

    .hamburger-stripe-closed {
        transition: 1s linear;
    }

    .hamburger-stripe-open {
        position: relative;
        left: 10px;
        transition: 1s linear;
    }
}

/* body paragraph */
.body-paragraph p {
    background-color: black;
    padding-left: 20%;
    padding-right: 20%;

    padding-top: 5rem;
    padding-bottom: 5rem;
}

.body-paragraph {
    margin-bottom: 4rem;
}

/* FAQ */
.faq-block {
    margin-left: 20%;
    margin-right: 20%;
}

.faq-block * {
    color: #2E2E2E;
}

.faq-block article {
    border-radius: 10px;
    background-color: white;
    margin-bottom: 3rem;

    padding: 3rem;
    padding-top: 2rem;
}

/* footer */
.footer-menu {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 3rem;
    background-color: black;
    
    padding: 4rem;
    margin-bottom: 0;
}

.footer-menu .menu-item a {
    margin-right: 0;
}

@media (min-width: 700px) {
    .footer-menu {
        flex-direction: row;
    }
}

/* Hero wrapper */
.hero-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;

    margin-bottom: 2em;
    margin-top: 7.8rem;
}

.hero-wrapper .field__item {
    width: 100%;
    background-color: black;
}

.hero-wrapper img {
    width: 100%;
    height: 20em;
    object-fit: cover;
    box-sizing: content-box;
}

.hero-wrapper .text-formatted {
    background-color: black;
}

.hero-wrapper .text-formatted p {
    margin-left: 10%;
    margin-right: 10%;
    max-width: 30rem;
}

@media (min-width: 700px) {
    .hero-wrapper {
        background-color: black;
    }

    .hero-wrapper img {
        height: 40em;
    }

    .hero-wrapper {
        flex-direction: row;
        margin-top: 5.8rem;
    }

    .hero-wrapper .field__item {
        background-color: transparent;
    }

    .hero-wrapper .text-formatted {
        height: 20em;
        background-color: black;
    }

    .hero-wrapper .text-formatted p {
        font-size: 1rem;
        margin-top: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
}

/* CTA about us */
.bg_text .CTA-wrapper{
    height: 3em;
}

/* Quote */
.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20rem;

    background-color: black;
    padding: 2rem;

    margin-left: auto;
    margin-right: auto;

    border-radius: 10px;
}

.quote-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.quote--theme--transparent {
    background-color: rgba(0, 0, 0, 0.13);
}

.quote--theme--light {
    background-color: white;
}

.quote--theme--light .quote-body .field__item {
    color: black;
}

.quote--theme--primary {
    background-color: yellow;
}

.quote--theme--primary .quote-body .field__item {
    color: black;
}

.quote--theme--secondary .field__item:first-child {
    color: yellow;
}

.quote--border--top {
    border-top: yellow 2px solid;
}

.quote--border--bottom {
    border-bottom: yellow 2px solid;
}

.quote--border--top-bottom {
    border-top: yellow 2px solid;
    border-bottom: yellow 2px solid;
}

@media (min-width: 700px) {
    .quote {
        width: 40rem;
    }
}

/* contact wrapper */
.contact-wrapper {
    margin-top: 10rem;

    height: calc(100vh - 15rem);
    max-width: 40rem;

    margin-left: auto;
    margin-right: auto;

    padding-left: 2rem;
    padding-right: 2rem;
}

.contact-wrapper h1 {
    font-size: 2rem;
}

.form-wrapper .form-email {
    width: 20rem;
}

.form-wrapper .form-textarea {
    resize: none;
}

.form-wrapper .webform-button--submit {
    color: black;
    transition: 0.1s;
}

.form-wrapper .webform-button--submit:hover {
    background-color: rgb(192, 192, 192);
}

/* News page */
.page-node-type-news .news-article {
    margin-left: auto;
    margin-right: auto;

    margin-top: 18rem;
    margin-bottom: 5rem;

    width: 25rem;
    height: auto;
}

.page-node-type-news .top img {
    width: 25rem;
}

.page-node-type-news .bottom p {
    width: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.page-node-type-news .image_with_text {
    margin-top: 0;
}

.page-node-type-news .news-article {
    margin-top: 10rem;
}

.page-node-type-news .category-wrapper a {
    color: white;
    font-size: 2rem;
}

@media (min-width: 1000px) {
    .page-node-type-news .news-article {
        width: auto;
        margin-left: auto;
        margin-right: auto;

        max-width: 55rem;
    }

    .page-node-type-news .image_with_text {
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        margin-bottom: 2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .page-node-type-news .bottom p {
        max-width: 18rem;
    }

    .page-node-type-news .category-wrapper a {
        color: black;
        font-size: 2rem;
    }

    .page-node-type-news .category-wrapper {
        background-color: transparent;
    }
}

/* FAQ */
.page-node-type-faq .FAQ-text {
    margin-top: 10rem;
    height: 70vh;

    max-width: 20rem;

    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 1000px) {
    .page-node-type-faq .FAQ-text {
        max-width: 30rem;
    }
}